
.character-list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
  }
  
  .character-item {
    flex-basis: calc(33.33% - 20px);
    text-align: center;
    border: 1px solid #ddd;
    padding: 10px;
    box-sizing: border-box;
    background-color: #fff; 
  }
  
  .character-image {
    max-width: 100px;
    max-height: 150px; 
  }
  
  .character-item img {
    max-width: 100%;
  }